.form-login{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   max-width: 350px;
}



.form-element {
   margin: 0.5em;
   font-size: 1.2em;
   border: 1px solid lightgray;
   padding: 0.4em;
}

.form-label{
   margin-left: 0.5em;
   font-weight: bolder;
}

.form-button{
   margin-top: 1em;
   padding: 0.5em;
   font-size: 1.2em;
   background-color: green;
   color: white;
   font-weight: bolder;
   border: none;
   border-radius: 1em;
}

.form-button:hover{
   background-color: lightgreen;
   color: green;
}